
img.text-wrapped {
    float: left;
    max-width: 100%;
    height: auto;
}

img.custom-thumbnail {
    width: 45%;
    height: auto;
    display: inline-flex;
}

img.big_display {
    width: 100%;
    height: auto;
}

.selected {
    padding: 5px;
    border: 5px solid #8d8741;
}

.centered {
    align-items: center;
    text-align: center;
}

table, th {
    text-align: center;
}

body {
    background-color: #fbeec1;
}

.backgrounded {
    background-color: white;
    margin-bottom: 5%;
    padding: 5%;
    align-items: center;
}

h1 {
    color: #659dbd;
}

.navbar {
    background-color: #659dbd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand {
    background-color: #8d8741;
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

@media (max-width: 767px) {
    ul.dropdown-menu {
        position: static;
        width: 100%;
        border-radius:0;
        border: none;
      }    
}

@media (max-width: 600px) {
    img.text-wrapped {
        float: none;
        max-width: 100%;
        height: auto;
    }
}